@page "/product/{id:int}"
@page "/product/{id:int}/{path}"



@if (Products is not null)
{
    <div class="container">
        <div class="row align-items-center m-5">
            @if (product.Image is not null)
            {
                <div class="col-6">
                    <RadzenStack AlignItems="AlignItems.Center" Class="rz-mx-auto rz-my-4">
                        <RadzenImage Path="@(product.Image)" style="max-height:200px; max-width:200px" />
                    </RadzenStack>
                </div>
                <div class="col-6">
                    <RadzenText TextStyle="TextStyle.Overline">
                        Title
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.H3">
                        @product.Name
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline">
                        Author
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.H3">
                        @product.Author
                    </RadzenText>

                </div>
            }
            else
            {
                <div class="col-6">
                    <RadzenText TextStyle="TextStyle.Overline">
                        Title
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.H3">
                        @product.Name
                    </RadzenText>


                </div>
                <div class="col-6">
                    <RadzenText TextStyle="TextStyle.Overline">
                        Author
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.H3">
                        @product.Author
                    </RadzenText>
                </div>
            }
        </div>
        <div class="row align-items-center">
            <div class="col-12">
                <RadzenCard class="rz-background-color-primary-light rz-shadow-0 rz-border-radius-0 rz-p-8" style="margin: 1rem calc(-1 * var(--rz-card-padding));">
                    <RadzenText TextStyle="TextStyle.H5" class="rz-color-on-primary-light"><strong>Book information</strong></RadzenText>
                    <RadzenRow RowGap="0">
                        <RadzenColumn SizeSM="6">
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Publisher</RadzenText>
                            <RadzenText TextStyle="TextStyle.H6" class="rz-color-on-primary-light"><b>@(product.Publisher)</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Publishing year</RadzenText>
                            <RadzenText TextStyle="TextStyle.H6" class="rz-color-on-primary-light"><b>@(product.PublishingYear)</b></RadzenText>
                        </RadzenColumn>
                        <RadzenColumn SizeSM="6">
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Category</RadzenText>
                            <RadzenText TextStyle="TextStyle.H6" class="rz-color-on-primary-light"><b>@(product.Category.Name)</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Price</RadzenText>
                            <RadzenText TextStyle="TextStyle.H6" class="rz-color-on-primary-light"><b>@String.Format(new System.Globalization.CultureInfo("fr-FR"), "{0:C}", product.Price)</b></RadzenText>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenCard>
            </div>
        </div>
        <RadzenButton Text="Go back" Click="Cancel" Icon="arrow_back"></RadzenButton>
    </div>

}

else
{
    <RadzenStack AlignItems="AlignItems.Center" Class="rz-m-12">
        <RadzenProgressBarCircular ShowValue="true" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Large">
            <Template>Loading...</Template>
        </RadzenProgressBarCircular>
    </RadzenStack>
}


@code {
    
}
